@import url(./variables.css);
*, ::after, ::before {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu Mono',monospace ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background-color);
  color: #f5f6f7;
}

.main {
  text-align: center;
  /* background: url('../assets/rocket.svg') no-repeat  center; */
}

.NFpage {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NFpage::before {    
      content: "";
      background-image: url('../assets/404.svg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

.NFpage  h3 {
  position: relative;
  color: #fff;  
  font-size: 3rem;
  line-height: 0.9;
  text-align: center;
}

.nfRoute {
  border-bottom: 4px dotted var(--fail);
  padding: 1rem;
  color: var(--secondary-background-color);
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.active {
  border-bottom: 2px solid red;
  /* background-color: blue !important; */
}

.Wrapper {
  height: 100%;
  margin: 5rem;
}

.filtersWrapper {
  max-width: 20%;
  height: 50px;
  margin-top: -15px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  column-gap: 10px;
  position: relative;
  
}

.filterBtn {
  background: #336585;
  padding: var(--distance-2);
  margin-top: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border: none !important;
}

.applied {
  background-color: var(--success);
}

.remove {
  background-color: var(--colors-1);
}



.success {
  background: var(--success);
}

.failed {
  background: var(--fail);
}

.upcoming {
  background: var(--upcoming);
}

.retired {
  background: cornflowerblue;
}
.Active {
  background: var(--success);
}
.destroyed {
  background: var(--fail);
}
.unknown {
  background: var(--upcoming);
}
