@import url(./variables.css);
*, ::after, ::before {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu Mono',monospace ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background-color);
  color: #f5f6f7;
}

.main {
  text-align: center;
  /* background: url('../assets/rocket.svg') no-repeat  center; */
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.active {
  border-bottom: 2px solid red;
  /* background-color: blue !important; */
}

.Wrapper {
  height: 100%;
  margin: 5rem;
}

.success {
  background: var(--success);
}

.failed {
  background: var(--fail);
}

.upcoming {
  background: var(--upcoming);
}

.retired {
  background: cornflowerblue;
}
.Active {
  background: var(--success);
}
.destroyed {
  background: var(--fail);
}
.unknown {
  background: var(--upcoming);
}
