@import url(./variables.css);

.Table {
    border: var(--border-type-2);
    height: 100%;
    width: 100%;
    color: var(--font-color-1); /*Do something for the color*/
    margin-bottom: var(--distance-1);
    border-collapse: collapse;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    padding: var(--distance-1);
    background-color: var(--nav-color);
    opacity: .8;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 600;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-bottom: 2px solid var(--border-color);
    background-color: var(--secondary-background-color);
}

thead th {
    vertical-align: bottom !important;
}

.Table td, .Table th {
    padding: var(--distance-1);
    vertical-align: top;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

tr {
   text-align: inherit;
   display: table-row;
   vertical-align: inherit;
   cursor: pointer;
}
th {
    text-align: inherit;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

.Home {
    position: relative; 
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Home > h1 {
    z-index: 1;
    font-size: var(--h1-size);
}

.Home::before {    
    content: "";
    background-image: url('../assets/nasa.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.Counters {
  bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  left: 0;
  margin: auto;
  max-width: 1200px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 99999;
  
}

 
.Counters a {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}
.Counters a:after {
  border-radius: 50%;
  content: '';
  height: 150px;
  box-shadow: 0 0 50px 0 rgba(#3ab396, 0.4);
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 150px;
}
.Counters a:hover:after {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.Counters .CounterContent {
   width: 200px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.CounterCircle svg {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-70deg);
}
.CounterCircle .Circle {
  stroke: #3ab396;
  stroke-width: 2px;
  fill: transparent;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  opacity: 0;
  animation: circle 2s ease-in-out 0.3s forwards;
}
@keyframes circle {
  50% {
    fill: transparent;
  }
  100% {
    fill: rgba(22, 26, 64, 0.7);
    opacity: 1;
    stroke-dashoffset: 580;
  }
}

.CounterIcon {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rotate 2s ease-in-out 0.3s alternate 1 none running;
}
.CounterIcon span {
  transform: rotate(-360deg);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateIcon 2s ease-in-out 0.3s alternate 1 none running;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.CounterNumber {
  font-size: 2rem;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.7);
}
.CounterLabel, .CounterNumber {
  z-index: 10;
  font-weight: 300;
  letter-spacing: 0.05rem;
}


  
