@use 'variables' as var;

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var.$background-color;
  color: #000;
}

.Global-Container {
  text-align: center;
  width: var.$content-width;
}

.Success {
  background: var.$success-bg;
  color: var.$success-color;
}

.Failed {
  background: var.$fail-bg;
  color: var.$fail-color;
}

.Upcoming {
  background: var.$upcoming-bg;
  color: var.$upcoming-color;
}

.pgActive {
  background-color: var.$secondary-color;
}

.react-icons {
  padding-top: 2px;
}

.accordion_active {
  border-bottom: 1px solid #f4f5f7;
}

.filterapplied {
  background-color: var.$button-bg !important;
  color: var.$button-color !important;
  width: 145px;
  border-radius: var.$border-radius;
  font-weight: var.$font-weight-bold !important;
  font-size: var.$font-size;
  line-height: var.$line-height;
}

.modalStatus {
  padding-top: var.$d4;
}
