@use 'variables' as var;

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var.$background-color;
  color: #000;
}

.Global-Container {
  text-align: center;
  width: var.$content-width;
}
